{% extends 'base.html' %}


{% block content %}
    <section class="section-site-info">
        <div class="text-center blog-header">
{#            <h1 class="blog-title">Hi, {{ g.user.nickname }}</h1>#}
            <h1 class="blog-title">Welcome to my blog</h1>
            <p class="blog-description">My journey of programming and dancing.</p>
        </div>
    </section>

    <hr> <!-- improve later. Maybe background image in section instead -->

    <div class=""> <!-- Improve with section later? -->
        <div class = "row">
            <div class="col-sm-8">
                <!-- posts is a Paginate object -->
                {% for post in posts.items %}
                    {% include 're_post.html' %}
                {% endfor %}


                {% with target_page='index' %}
                    {% include 're_paginate_nav.html' %}
                {% endwith %}

            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>Lot of passion for dancing and programming.</p>
                </div>
                <div class="sidebar-module">
                    <h4>Latest posts</h4>
                    <ol class="list-unstyled">
                        {% for post in posts_latest.items %}
                            <li><a class="" href="{{ url_for('single_post', post_id=post.id) }}"> {{ post.title }}</a></li>
                            <hr>
                        {% endfor %}
                    </ol>
                </div>
                <div class="sidebar-module sidebar-latest-posts">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/k-oneGene">GitHub</a></li>
                        <li><a href="https://www.facebook.com/jinnotonik">Facebook</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div>
    </div>


{% endblock %}