<div class="blog-post">
    <a class="blog-post-title" href="{{ url_for('single_post', post_id=post.id) }}"> <p> {{ post.title }} </p> </a>
    <p class="blog-post-meta">{{ momentjs(post.timestamp).format('LLLL') }} by <a href="{{ url_for('user', nickname=post.author.nickname) }}">{{ post.author.nickname }}</a></p>

    <img src="{{ url_for('static', filename='upload/temp_img.png') }}" class="img-thumbnail rounded mx-auto d-block">
    {{ post.body | markdown | truncate(1200) }}

    {% if post.body|length > 1200 %}
        <div class="clearfix">
            <a class="btnL btnL-page" href="{{ url_for('single_post', post_id=post.id) }}">Read more</a>
        </div>
    {% endif %}

    <hr>
</div>